.mean-container .mean-nav ul li>a.mean-expand i,
.main-menu ul li .submenu,
.main-menu ul li .submenu li a::before,
.main-menu ul li .mega-menu,
.main-menu ul li .mega-menu li ul li a::before,
.offcanvas__overlay,
.offcanvas__navigation button svg,
.rr-btn svg path,
.rr-btn.btn-transparent.btn-border-gray i,
.body__overlay,
a,
.btn,
button,
span,
sub,
sup,
p,
input,
select,
textarea,
li,
img,
svg,
.transition-3,
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-transition: all 0.3s 0s ease-out;
  -moz-transition: all 0.3s 0s ease-out;
  -ms-transition: all 0.3s 0s ease-out;
  -o-transition: all 0.3s 0s ease-out;
  transition: all 0.3s 0s ease-out;
}

/* transform */
.nice-select::after {
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

:root {
  /**
  @font family declaration
  */
  --rr-ff-heading: 'Poppins', sans-serif;
  --rr-ff-heading1: 'Playfair Display', sans-serif;
  --rr-ff-body: 'Poppins', sans-serif;
  --rr-ff-fontawesome: "Font Awesome 6 Pro";
  /**
  @color declaration
  */
  --rr-common-white: #FFFFFF;
  --rr-common-black: #000000;
  --rr-common-placeholder: #4A5764;
  --rr-body-primary: #fff;
  --rr-theme-primary: #E6C463;
  --rr-heading-primary: #FEFEFE;
  --rr-text-body: rgba(5, 5, 19, 0.6);
  --rr-text-primary: #151515;
  --rr-shadow-primary: 0px 30px 60px 0px rgba(0, 15, 32, 0.1);
  --rr-background-hero-2-bg: #EEEEEE;
  --rr-background-body-bg: #000;
  --rr-border-primary: 1px solid rgba(5, 5, 19, 0.14);
  /**
  @font weight declaration
  */
  --rr-fw-normal: normal;
  --rr-fw-thin: 100;
  --rr-fw-elight: 200;
  --rr-fw-light: 300;
  --rr-fw-regular: 400;
  --rr-fw-medium: 500;
  --rr-fw-sbold: 600;
  --rr-fw-bold: 700;
  --rr-fw-ebold: 800;
  --rr-fw-black: 900;
  /**
  @font size declaration
  */
  --rr-fs-body: 18px;
  --rr-fs-body2: 18px;
  --rr-fs-p: 15px;
  --rr-fs-h1: 70px;
  --rr-fs-h2: 100px;
  --rr-fs-h3: 90px;
  --rr-fs-h4: 24px;
  --rr-fs-h5: 20px;
  --rr-fs-h6: 15px;
  --rr-lh-body: 28px;
  --rr-lh-body2: 28px;
  --rr-lh-p: 24px;
  --rr-lh-h1: 72px;
  --rr-lh-h2: 105px;
  --rr-lh-h3: 100px;
  --rr-lh-h4: 28px;
  --rr-lh-h5: 32px;
  --rr-lh-h6: 30px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

/*---------------------------------
    Typography css start 
---------------------------------*/
body {
  font-family: var(--rr-ff-body);
  font-size: var(--rr-fs-body);
  font-weight: normal;
  color: var(--rr-text-body);
  line-height: var(--rr-lh-body);
  background: var(--rr-body-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}